nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.btnCart {
  background-color: transparent;
  border: none;
}

.fa-cart-shopping {
  color: red;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

footer.light {
  background-color: rgb(195, 195, 195);
  color: #000000;
}

footer.dark {
  background-color: rgba(85, 85, 85, 0.3);
  color: #ffffff;
}

.theme-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 0 20px;
  margin-bottom: 10px;
}

.active-link {
  color: red;
  font-weight: bold;
  border: 2px solid red;
  padding: 5px;
}

.buttons {
  padding: 10px 20px;
  margin: 2px;
  border: 3px solid #999;
  border-radius: 5px;
}
.buttons.light {
  background-color: #eee;
  color: #000;
}
.buttons.dark {
  background-color: #333;
  color: #fff;
}

form {
  background-color: rgba(0, 153, 255, 0.51);
  width: 400px;
  max-width: 90%;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin: 40px auto;
  justify-content: center;
  gap: 8px;
  font-family: "Segoe UI", sans-serif;
}
